*{
    /* border: 1px #f40 solid; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 24px;
    font-display: optional;
    color:#444
}
a{
    text-decoration: none;
}
a:link,:hover,:active,:visited{
    color: #444;
}
.main-content{
    padding-top: 60px;
    background-color: #fff;
    height: 100vh;
}
header{
    /* border: 1px black solid; */
    height: 60px;
    padding:0 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index:99;
    border-bottom:2px black solid
}
.header-inner-wrapper{
    display:flex;
    width:100%;
    height:60px;
    line-height:60px;

}
.header-left-btn{
    /* border: 1px blue solid; */
    width: 100px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-mid-title{
    /* border:1px yellowgreen solid; */
    flex:1;
    text-align: center;
}
.header-right-btn{
    /* border:1px purple solid; */
    width:100px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.sidebar{
    display: none;
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
    width: 70%;
    position: fixed;
    z-index: 1000;
    top:0;
    bottom:0;
    left:0;
    transition:left 1s;
}
.sidebar-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background:black ;
    color: #fff;
}
.sidebar-main{
    height: 100vh;
    background:#fff ;
    color: #000;    
}

.sidebar-main ul{
    position: relative;
    top:0;
    padding-left:20px;
    height: auto;
    
    
}

.sidebar-main ul li{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    list-style: none;
}
.sidebar-main ul li svg{
    vertical-align: middle;
}
.sidebar-main ul li span{
    vertical-align: middle;
}
